.course-graph-heading{
    font-size: 36px;
    font-weight: bold;
}
.course-graph-subheading{
    font-size: 2rem;
    width: 83rem;
    margin-left: 17vw;
    margin-top: -1vh;
}
.course-graph-container img{
    width: 80vw;
    height: 58vh;
    margin-bottom: 10vh;
    margin-top: 4vh;
}
.course-graph-container{
    background: rgb(39, 40, 61);
    color: white;
    padding: 3rem;
    margin-left: 1rem;
    text-align: center;
}
.course-graph-containe-web{
    display: block;
}
.course-graph-responsive-container{
    display: none;
}
@media only screen and (max-width:320px){
    .course-graph-containe-web {
        display: none;
    }
    .course-graph-responsive-container{
        display: block;
    }
    .course-graph-subheading {
        font-size: 17px;
        width: 28rem;
        margin-left: -2vw;
        margin-top: -1vh;
    }
    .course-graph-responsive-container img {
        width: 76vw;
        height: 42vh;
        margin-bottom: 4vh;
        margin-top: 1vh;
    }
    .course-graph-container {
        padding: 1rem;
        margin-left: 0rem;
        
    }
    .course-graph-heading {
        font-size: 30px;
        font-weight: bold;
        padding: 0 1rem;
    }
}
@media only screen and (min-width:321px) and (max-width:400px){
    .course-graph-containe-web {
        display: none;
    }
    .course-graph-responsive-container{
        display: block;
    }
    .course-graph-subheading {
        font-size: 18px;
        width: 28rem;
        margin-left: 2vw;
        margin-top: -1vh;
    }
    .course-graph-responsive-container img {
        width: 76vw;
        height: 42vh;
        margin-bottom: 4vh;
        margin-top: 1vh;
    }
    .course-graph-container {
        padding: 1rem;
        margin-left: 0rem;
        
    }
}

@media only screen and (min-width:401px) and (max-width:500px){
    .course-graph-containe-web {
        display: none;
    }
    .course-graph-responsive-container{
        display: block;
    }
    .course-graph-subheading {
        font-size: 2rem;
        width: 37rem;
        margin-left: -5vw;
        margin-top: -1vh;
    }
    .course-graph-responsive-container img {
        width: 76vw;
        height: 45vh;
        margin-bottom: 4vh;
        margin-top: 1vh;
    }
    .course-graph-container {
        margin-left: 0rem;
        
    }
}