.course-certification-heading{
    font-size: 3.2rem;
    margin-left: 0vw;
    font-weight: 600;
}
.course-certificate-points >ul li {
    margin-bottom: 0.6rem;
    font-weight: bold;
    font-size: large;
    display: flex;
    word-spacing: 0.2rem;
    letter-spacing: 0.01rem;
}
.course-internship-certificate-image img{
    margin-top: -13rem;
    width: 31vw;
    height: 21vw;
    margin-left: 28vw;
}