.course-details-wrapper {
    margin-left: 1rem;
    text-align: center;
}
.course-details-Career {
    font-size: 36px;
    font-weight: bold;
}
.course-details-highlight {
    font-size: 2rem;
    width: 83rem;
    margin-left: 33rem;
}
.course-value-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.course-list-img {
    height: 15rem;
    width: 15rem;
    border-radius: 10rem;
}
.course-list {
    text-align: center;
}
.Project-based {
    font-size: 1.8rem;
    font-weight: bold;
    width: 23rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.3rem;
    margin-top: 0.5rem;
}
