.course-tools-heading
{
    font-size: 36px;
    font-weight: bold;
}
.course-tool-covered{
    font-size: large;
    font-weight: 600;
    margin-left: 5vw;
}
.course-tools{
    margin-left: 5vw;
    margin-top: 4vh;
}
.course-tools img{
    width:5vw;
}
.course-tools-wrapper {
    display: flex;
    justify-content: center;
    margin-left: -4vw;
}
.course-ToolCovered-Container {
    margin-left: 1rem;
    text-align: center;
    background: lavender;
}