.course-overview-heading{
    margin-left: 8rem;
    font-size: 36px;
    /* font-weight: bold; */
}
.overview-description p{
    width: 50vw;
    word-spacing: 0.2rem;
    /* letter-spacing: 0.1rem; */
    margin-left: 9vw;
    font-size: initial;
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    font-style: normal;
    margin-top: 3vh;

}
.course-overview-container{
    margin-top: 7vh;
    margin-bottom: 10vh;
}