.course-details-adms-process-container {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-around;
    align-items: center;
    background: #B5C1CD; */
    
}
.adms-process-img-container{
    border: 1px solid lightgray;
    box-shadow: -6px 20px 20px #00000029;   
    width: 18vw;
    /* margin-left: 9vw; */
    height: 28rem;
    margin-top: 5vh;
    background: white;

}
.adms-process-brief {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}
.CourseDetailAdmsHeading {
    margin-left: 2rem;
    font-size: 36px;
    font-weight: bold;
    color: white;
}
.adms-process-img {
    width: 27rem;
    height: 20rem;
}
.CourseDetailAdms{
    margin-left: 1rem;
    width: 96vw;
    height: 46rem;
    padding: 2rem;
    /* background: #ebf1f8;; */
    background:rgb(39, 40, 61);
}