.PA_mainContainer{
    width:95%;
    /* height:70%; */
    margin-top: 6%;
    margin-left: 5%;
}
.PA_UpperSection{
    
    
}
.PA_Container{
    width:95%;
    height: 71vh;
    margin:2%;
    background: #F1F4F5E8 0% 0% no-repeat padding-box;
box-shadow: 8px 19px 17px #00000029;
border: 1px solid #707070;
border-radius: 21px;
opacity: 1;
    
}
.PA_ClickedPic{
    width: 43vw;
    height: 69vh;
}

.PA_ClickedPic img{
    width: 42vw;
    height: 48vh;
    margin:4% 4% -2%;
}
.PA_information{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    width:42vw;
    height:5vh; 
}
.PA_Title_section{

}
.PA_CaptionFeild{
    height: 7vh;
    overflow-y: scroll;
}
.PA_Heading h3{
    color:00B1FF;
    width: 48rem;
}
.PA_dropDown{
    margin-top: -3rem;
}
.PA_additional_information{
    display: flex;
    color: rgb(116, 179, 204);
    margin-top: 0.5rem;
}
.PA_Created_Time{
    margin-left: 0.5rem;
}
.PA_subscribe button{
    background: transparent linear-gradient(90deg, #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
    margin-top: 3vh;
    padding: 0.5rem 2rem;
    color: white;
    border: none;
    border-radius: 20px;
}
.whole_Picture_content h3{
    margin-left: 3%;
    color: black;
    font-size: x-large;
}
.Block_Picture_Album{
    width:100%;
    overflow-y: scroll;
    height:50vh;
}
.PA_subBlockWrrapper{
    margin-left: 2%;
    margin-top:1%;
    width: 23%;
    height: 37vh;
    padding: 1%;
    background: #F1F4F5E8 0% 0% no-repeat padding-box;
    margin-bottom: 2%;
    box-shadow: 6px 10px 10px #00000029;
}
.PA_subBlock img{
    width:92%;
    margin-left: 4%;
    height:26vh;
}
.Profile_PicAlbum{
    display:flex;
    margin-top: 2vh;
}
.Profile_PicAlbum img{
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    margin: 0.5rem;
}
.description_PictureAlbum{
    border: 1px solid black;
    border-radius: 27px;
    /* margin:0.5rem; */
    width: 69%;
    padding: 0.5rem;
}
.PA_views{
    color: #00929D;
    padding: 1%;
    margin-left: 2%;
}