.Audio_container{
    width:94%;
    margin-left: 5%;
}
.Audio_viewall{
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    color: black;
}
/* .Audio_viewall h3{
    color:#000000;
    font-size: large;
    margin-left: 2%;

}
.Audio_viewall p{
    color:#2699FB;
    font-size: large;
    margin-left: 80%;
} */
.AudioBox{
    border-radius: 2.0rem;
    display: flex;
    padding: 10px;
    background-color: #E7E7E7;
    box-shadow: 9px 15px 15px #00000029;
    background: transparent linear-gradient(270deg, #CCBEBE 0%, #070808 100%);
    height: 11vh;
    width: 17vw;
    margin-bottom: 2rem;
}
.AudioBox img{
    border-radius: 1.0rem;
    width: 5vw;
    height: 7vh;
    
}
.audio-description{
    margin-left: 0.5em;
}


.poi{
    display: flex;
}
.audio_title{
    /* border: solid 1px red; */
    width: 11vw;
}

.likes_Audio{
   
        display: flex;
        margin-left:3%;
        color: #fff
      
}
