
.Video_Container{
   /* border:solid blue; */
width: 95%;
display: inline-block;
}
.Heading_video{
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    color: black;
}
.TrendingVideo_Styling{
width:100%;
   /* border: solid red; */
margin-bottom: 3vh;

}
.internal_video{
    margin: 1.5rem;
    /* border: 1px solid; */
    padding: 10px;
    width: 18vw !important;
    border: 1px solid lightgray;
    box-shadow: -6px 20px 20px #00000029; 
}
.internal_video video{
    border-radius: 10px;
    width: 25.5rem;
    height: 14rem;
       /* margin: 0.6rem 0.6rem 0.6rem 1.0rem; */

}
.sideSection{
    display: flex;
}
.Profile_video{
    display: flex;
}
.Profile_video img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem 0 0;
}
.description_video{
    border: 1px dashed #74b3cc;
    border-radius: 9px;
    margin: 1rem 0rem 0 0;
    width: 21rem;
    height: 5rem;
}
.description_videoTitle{
    /* margin-left: 3%; */
    color: #74b3cc;
    margin-left: 1rem;
    margin-top: 0rem;
}
/* .likes_video{
    display: flex;
    margin-left: 3%;
   } */
.videocount{
    margin: 2rem 0 1rem 2rem;
}
.likes_video {
    border: 1px solid lightgray;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
    height: 18vh;
    box-shadow: -1px 5px 4px #00000029;

}
.VT_ThumbnailImg {
width: 16vw;
height: 10vw;
margin: 0.5rem;
object-fit: cover;
border-radius: 10px;
}
/* .VideoTrendingsliderStyles{
    height: 35vh;
}
.VideoTrendingsliderStyles div{
    margin: 0 0.5rem;
    

} */

/* .TrendingVideo_Styling .slick-slide {
    margin: 0 0.5rem;
} */
@media only screen and (max-width:320px){
    .VideoTrending_Container {
        margin-left: -5vw;
        margin-top: -1vh;
    }
    .TrendingVideo_Styling h2{
        font-size:x-large;
        margin-left: 10%;

    }
    .internal_video {
        margin: 0.1rem;
        border: 1px solid;
        padding: 10px;
        width: 67vw !important;
        height: 26vh;
        /* border: 1px solid lightgray; */
        /* box-shadow: -6px 20px 20px #00000029; */
        background: transparent linear-gradient(
    232deg
    , #383838 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 20px 20px 20px #00000029;
        border: 1px solid #707070;
    }
    .VT_ThumbnailImg {
        width: 61vw;
        height: 25vw;
        margin: 0.1rem;
        /* object-fit: cover; */
        border-radius: 10px;
    }
    .Profile_video img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        margin: 1rem 0.5rem 0 0;
    }
    .description_video {
        border: 1px dashed #74b3cc;
        border-radius: 9px;
        margin: 1rem 0rem 0 0;
        width: 18rem;
        height: 4rem;
    }
    .description_videoTitle {
        /* margin-left: 3%; */
        /* color: #74b3cc; */
        color: black;
        margin-left: 4rem;
        font-size: medium;
        margin-top: 0rem;
    }
}

@media only screen and (min-width:321px) and (max-width:400px ){
    .TrendingVideo_Styling h2{
        font-size:x-large;
        margin-left: 10%;

    }
    .internal_video {
        margin: 0.1rem;
        border: 1px solid;
        padding: 10px;
        width: 67vw !important;
        height: 26vh;
        /* border: 1px solid lightgray; */
        /* box-shadow: -6px 20px 20px #00000029; */
        background: transparent linear-gradient(
    232deg
    , #383838 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 20px 20px 20px #00000029;
        border: 1px solid #707070;
    }
    .VT_ThumbnailImg {
        width: 61vw;
        height: 25vw;
        margin: 0.1rem;
        /* object-fit: cover; */
        border-radius: 10px;
    }
    .Profile_video img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        margin: 1rem 0.5rem 0 0;
    }
    .description_video {
        border: 1px dashed #74b3cc;
        border-radius: 9px;
        margin: 1rem 0rem 0 0;
        width: 18rem;
        height: 4rem;
    }
    .description_videoTitle {
        /* margin-left: 3%; */
        /* color: #74b3cc; */
        color: black;
        margin-left: 4rem;
        font-size: medium;
        margin-top: 0rem;
    }
    .VideoTrending_Container {
        margin-left: 0vw;
        margin-top: -1vh;
    }
}

@media only screen and (min-width:401px) and (max-width:500px){
    .TrendingVideo_Styling h2{
        font-size:x-large;
        margin-left: 10%;

    }
    .internal_video {
        margin: 0.1rem;
        border: 1px solid;
        padding: 10px;
        width: 68vw !important;
        height: 30vh;
        /* border: 1px solid lightgray; */
        /* box-shadow: -6px 20px 20px #00000029; */
        background: transparent linear-gradient(
    232deg
    , #383838 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 20px 20px 20px #00000029;
        border: 1px solid #707070;
    }
    .VT_ThumbnailImg {
        width: 61vw;
        height: 25vw;
        margin: 0.1rem;
        /* object-fit: cover; */
        border-radius: 10px;
    }
    .Profile_video img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        margin: 1rem 0.5rem 0 0;
    }
    .description_video {
        border: 1px dashed #74b3cc;
        border-radius: 9px;
        margin: 1rem 0rem 0 0;
        width: 18rem;
        height: 4rem;
    }
    .description_videoTitle {
        /* margin-left: 3%; */
        /* color: #74b3cc; */
        color: black;
        margin-left: 4rem;
        font-size: medium;
        margin-top: 0rem;
    }
    .VideoTrending_Container {
        margin-left: 0vw;
        margin-top: -1vh;
    }
}