.topVideosContainer{
    margin-left: 5vw;
    margin-top: 3vh;
}
@media only screen and (max-width: 500px)
{
    .topVideosContainer{
        display: none !important;
    }
    .mobile-top-videos-heading{
        margin-top: 7vh !important;
    }
    .mobile-top-videos{
        margin-left: 5vw;
        margin-top: 2vh;
        display: block !important;
        width: 100% !important;
    }

}