.styling_Video{
    margin-top: 11rem;
    margin-left: 8rem;
    height: 6vh;
    
}
.styling_Video span{
    width: 10vw;
    padding: 0.5rem;
    height: 6vh;
    font-size:1.9rem;
    background: #e0dbdb 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;
}
.sc-iBPRYJ.bkVSTc.rec.rec-pagination{
    display:none;
}
.middleContainer{
    margin-left: 5vw;
    margin-top: 7vh;
    width:95%;
    /* background: #534f4fd4 0% 0% no-repeat padding-box; */
    opacity: 1;
    border: crimson solid;
}
@media only screen and (max-width: 500px)
{
    .styling_Video{
        width: 85%;
        margin-left: 2.5rem;
        /* border: solid 1px red; */
        
    }
    .mobile-slider{
        padding: 0;
        /* border: solid 1px blue; */
    }
    .mobile-video-page-category-images{
        /* border: solid 1px red; */
        width: 50vw !important;
        margin-left: 4vw !important;
    }
.mobile-video-page-category-names{
    /* border: solid 1px red; */
    width: 50vw !important;
    text-align: center;

}
}