.BlogPagecommentBlock {
    height: 23.3rem;
    display: flex;
    margin-top: 0.5vh;
    margin-left: 2rem;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
}
.BlogPagecommentBox {
    /* text-align: center; */
    /* width: 58rem; */
}
.BlogPagecommentSection {
    display: contents;
}
.BlogPagepicProfileComment img {
    height: 8vh;
    width: 4vw;
    border-radius: 50px;
    margin: 1rem 0 2rem 0rem;
}
.TB_RightSection {
    width: 53rem;
}
.BlogPagecommentProfile {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 58rem;
    margin-left: 3rem;
}
.BlogPageFollower {
    margin-left: 2.8rem;
    margin-top: 0.5rem;
}
.BlogPagefollowInCommentBtn button {
    border-radius: 23px;
    padding: 0.7rem 3rem;
    background: transparent linear-gradient( 
190deg
 , #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    font-size: large;
    margin-left: 3rem;
}
.BlogPageiconComment{
    font-size: 3rem;}
.BlogPagecommentSection{
    display: flex;
}
.BlogPageBlogcommentTitle {
    background: transparent linear-gradient( 
90deg
 , #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 1rem 0.8rem;
    border-radius: 15px;
    display: flex;
    color: white;
    font-size: large;
    margin-top: -19.5rem;
    margin-left: 2rem;
    width: 100%;
    height: 5rem;
}
.BlogPagecommentContent {
    background: white;
    margin-top: 1.1vh;
    background: white;
    width: 42vw;
}
span.TrendingBlockhgf {
    padding: 0px 64px;
    font-size: large;
    color: ghostwhite;
}
.BlogPagelikeShareVideo {
    margin-left: -3.5rem;
    color: lightgray;
    margin-top: 5.5rem;
    margin-right: 3rem;
}
.BlogPagecommentReply span {
    color: lightskyblue;
}
::placeholder{
    color: grey;
}

@media only screen and (max-width:320px){
    .BlogPageBlogcommentTitle {
        background: transparent linear-gradient( 
    90deg
    , #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 1rem 0.8rem;
        border-radius: 15px;
        display: flex;
        color: white;
        font-size: large;
        margin-top: 15.5rem;
        margin-left: 0rem;
        width: 98vw;
        height: 5rem;
    }
    /* .BlogCommentInput input{
        width: 258%;
        margin: -5px 0rem;
        height: 4rem;
        color: black;
    } */
    .BlogPagecommentBlock {
        height: 25.3rem;
        display: flex;
        margin-top: 0.5vh;
        margin-left: -1rem;
        width: 100vw;
        justify-content: center;
        overflow-y: scroll;
    }
    .BlogPagecommentContent {
        background: white;
        margin-top: 1.1vh;
        background: white;
        width: 87vw;
    }
    .BD_inputBox{
        width: 62vw !important;
    }
}

@media only screen and (min-width:321px) and (max-width:400px){
    .BlogPageBlogcommentTitle {
        background: transparent linear-gradient( 
    90deg
    , #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 1rem 0.8rem;
        border-radius: 15px;
        display: flex;
        color: white;
        font-size: large;
        margin-top: 15.5rem;
        margin-left: 0rem;
        width: 87vw;
        height: 5rem;
    }
    /* .BlogCommentInput input{
        width: 258%;
        margin: -5px 0rem;
        height: 4rem;
        color: black;
    } */
    .BlogPagecommentBlock {
        height: 25.3rem;
        display: flex;
        margin-top: 0.5vh;
        margin-left: -1rem;
        width: 92vw;
        justify-content: center;
        overflow-y: scroll;
    }
    .BlogPagecommentContent {
        background: white;
        margin-top: 1.1vh;
        background: white;
        width: 77vw;
    }
    .BD_inputBox{
        width: 62vw !important;
    }
}

@media only screen  and (min-width:401px) and (max-width:500px){
    .BlogPageBlogcommentTitle {
        background: transparent linear-gradient( 
    90deg
    , #1E9FC8 0%, #3C34AC 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 1rem 0.8rem;
        border-radius: 15px;
        display: flex;
        color: white;
        font-size: large;
        margin-top: 15.5rem;
        margin-left: 0rem;
        width: 100%;
        height: 5rem;
    }
    /* .BlogCommentInput input{
        width: 258%;
        margin: -5px 0rem;
        height: 4rem;
        color: black;
    } */
    .BlogPagecommentBlock {
        height: 25.3rem;
        display: flex;
        margin-top: 0.5vh;
        margin-left: 1rem;
        width: 100%;
        justify-content: center;
        overflow-y: scroll;
    }
    .BlogPagecommentContent {
        background: white;
        margin-top: 1.1vh;
        background: white;
        width: 77vw;
    }
    .BD_inputBox{
        width: 58vw !important;
    }
}